<!DOCTYPE html>
<html>
<head>
	<title></title>

    <link rel="stylesheet" href="./css/madlibs.css">

</head>
<body>
	<div id="container_1">
		<h3>Some Fantastic Story</h3>

		<p><img src="./img/{{image}}.jpg" alt="dogs">
            Once upon a time {{name}} was walking down the streets of {{place}}. They were casually {{activity}} when a god showed up.
            He asked {{name}} to pick a random number. He then asked {{name}} if they liked predatory animals. {{name}} replied {{predator}}.
            {{name}} picked {{number}}. The god decided to create {{number}} {{animal}}s. {{name}} was not very happy about that.
		</p>

		<p>Notice in the source of this page there's a little empty div that has style="clear: both;". This is a little trick that allows the div with id="container_1" to wrap around the image</p>
		<div style="clear: both;"></div> 

	</div>

</body>
</html>